body {

  margin: 0;
padding: 0;


}

.hero-lg{
background-color: #DA1F26;
height: 70vh;
width: 100vw;

}

.hero-sm {

width: 100%;
height:90%;


}

header {
  opacity: 1;
/* background-color: rgba(0,0,0,.2); */
width: 100%;
height: 13%;
display: flex;
justify-content: space-between;

}


.nav-blocks {

display: inline-block;
padding: 10px 20px;
cursor: pointer;


}
.nav-blocks:hover {
background: #ffffff;
color :#DA1F26;



}

.nav-text{

  display: inline-block;
}



nav {
width: 40%;
margin: auto 0 ;
display: flex;
justify-content: space-around;
font-size: 1.3rem;
color: #ffffff;

font-family: Cairo;

}

.city
{
 position: absolute;
 transform: translateY(-100%);



}


.icons {
  display: flex;
width: 100vw;
height: 30vh;
justify-content: space-around;

}

.icons-in{
height: 50%;
width: auto;
transition: all 0.3s;


}

.icons-in:hover{
transform: scale(1.3);



}


.page-two{
height: 100vh;
width: 100vw;
position: absolute;
/* transform: translateY(calc(30vh)); */
z-index: -5;
}
