
.page-two{
height: 100vh;
width: 100vw;
background-color:	rgb(0, 0, 0);
/* transform: translateY(calc(30vh)); */

}

.sec-nav{
height: 80px;
width: 100%;
display: flex;
justify-content: center;

align-items: center;

}

.logo-afterscroll{

position: absolute;
height: 50px;
width: auto;


}
.pagetwo-main-sub, .pagetwo-main-sub-light{
color: #ffffff;
font-family: "Tajawal";
text-align: center;
}
.pagetwo-main-sub{
font-weight: 800;
font-size: 2.5rem;
margin-top: 7%;
margin-bottom: 10px;
text-align: center;

}
.pagetwo-main-sub-light{
font-weight: 400;
font-size: 1.5rem;
margin-top: 0;
text-align: center;

}

.pagetwo-main-text-repper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
width: 100%;
height: 60vh;
text-align: center;

}
.pagetwo-calltoation:link,
.pagetwo-calltoation,
.pagetwo-calltoation:visited
{
margin-top: 40px;
color: #ffffff;
text-decoration: none;
font-family: Cairo;
border: solid 2px #ffffff;
width: 60%;
height: 30px;
text-align: center;
vertical-align:middle;
transition: all .5s;


}
.pagetwo-calltoation:hover{
color: #000000;
background-color: #ffffff;
transform: scale(1.3);


}








.pagetwo-main-blogs{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.round-img-cont-title{
text-align: center;
color: #ffffff;
font-family: Cairo;

}

.round-img-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagetwo-main-blogs-3-con{
  display: none;
}
