body {
margin: 0;
padding: 0;
font-family: sans-serif;
overflow-x: hidden;
}

.page-one{
background-color:  #DA1F26;
clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);

}
header {
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

 }
 .header{
width: 100%;
  display: flex;
    justify-content: space-between;
      align-items: center;
 }

.header-logo{
height: 60px;
width: auto;
}
.page-one-main{
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
height: 90vh;
}
.page-one-main-input-group{
  border:solid 1px #ffffff;
  height: 40px;
display: block;
margin: auto;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  margin: 5vh 0;
  transition:all 0.2s;
}
.scale12{
transform: scale(1.2);

}

.page-one-main-input-submit{
background-color: #ffffff;
outline: 0;
border: 0;
border-collapse: inherit;
height: 100%;
cursor: pointer;
width: 5vw;
width: 40px;
/* width: auto; */
}
.page-one-main-input-submit:hover{
  background-color: #DA1F26;
  color: #ffffff;
}
.page-one-main-input-search{

  font-family: Cairo;
  background-color: #ffffff;
  outline: 0;
  border: 0;
  border-collapse: inherit;
  text-align: right;
  width: 65vw;
}

.page-one-main-h1{
text-transform: capitalize;
color: #ffffff;
font-family: sans-serif;
text-align: center;
font-size: 3rem;
font-family: Tajawal;
font-weight: 800;
}

.icon-reveal-main{
  width: 100%;
  height: 20vh;
}



.menu-animation {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #da1f26;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
     background-color: #da1f26;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
nav{
position: absolute;
top: 10px;
right: 10px;
z-index: 10;
}

.menu-items{
display: flex;  flex-direction: column-reverse;
position: absolute;
width: 100%;
z-index: 5;





}
.menu-item{
background-color: #ffffff;
color: #DA1F26;
font-family: Cairo,sans-serif;
height: 50px;
width:100%;
/* border-radius: 5px; */
/* margin-right: 30px; */
display: flex;
justify-content: center;
align-items: center;
transition: all 0.2s;
opacity: 1;
cursor: pointer;
text-decoration: none;

}
.menu-item:hover{
border-radius: 0;
transform: scale(1.5);

}
.item1{
  margin-right:60px;
}
.hidden{
opacity: 0;
visibility: hidden;
}

.page-two-pic-section{
height: 45%;
width: 100%;
background-image: url("../../assets/place1.jpg");
background-size: cover;
/* clip-path: polygon(0 0, 100% 0, 57% 91%, 0% 100%); */
background-position: center center;
 /* box-shadow: 8px 8px #000000; */
}
.not-res-text{
display: none;

}
.page-two-main{
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.page-two-text-section{
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;

text-align: center;
border:0;

}

.page-two-text-section-title{
text-align: right;
font-family: Tajawal;
font-size: 3rem;
margin: 10px 0;
text-align: center;


}
.page-two-text-section-button,
.page-two-text-section-button:link,
.page-two-text-section-button:visited
{
text-decoration: none;
color: #ffffff;
background-color: #DA1F26;
width: 40%;
height: 45px;
font-family: Cairo;
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
border-radius: 5px;
transition: all 0.5s;
}

.page-two-text-section-button:hover{
border-radius: 0;
transform: scale(1.2);

}

.page-two-text-section-text{
margin-right: 20px;
text-indent: 20px;
text-align: right;
font-family: cairo;

}

.page-three-pic-section{
height: 45%;
width: 100%;
background-image: url("../../assets/place2.jpg");
background-size: cover;
/* clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 80%); */
background-position: center;
}
.page-three-main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.page-three-text-section{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-three-text-section-title{
text-align: right;
font-family: Tajawal;
font-size: 3rem;
text-align: center;

}

.page-three-text-section-text{
text-indent: 20px;
text-align: right;
font-family: cairo;
margin-right: 20px;

}


.page-three-text-section-button,
.page-three-text-section-button:link,
.page-three-text-section-button:visited
{
text-decoration: none;
color: #ffffff;
background-color: #DA1F26;
width: 40%;
height: 45px;
font-family: Cairo;
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
border-radius: 5px;
transition: all 0.5s;
}

.page-three-text-section-button:hover{
border-radius: 0;
transform: scale(1.2);

}

footer {
display: flex;
flex-direction: column;
  height: 30%;
  width: 100%;
background-color:  #DA1F26;
justify-content: center;
align-items: center;

}
.page-four-main{
height: 70%;
width: 100%;


}
@media screen and (min-width:700px) {
  .page-four-footer-upper{
  display: flex;
    width: 40%;
    height: 60%;
    justify-content: center;
  }
}
@media screen and (max-width:700px) and (min-width:400px) {
  .page-four-footer-upper{
  display: flex;
    width: 50%;
    height: 60%;
    justify-content: center;
  }
}

.page-four-footer-bottom{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  width: 100%;
  height: 40%;
}
.page-four-footer-bottom-text{
  color: #ffffff;
  font-family: Cairo;
}

.page-four-footer-upper-left{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;

}
.page-four-footer-upper-left-logo{
  height:50%;
}
.page-four-footer-upper-left-copy{
  color: #ffffff;
  font-family: monospace,sans-serif;
}


.page-four-footer-bottom-icon,
.page-four-footer-bottom-icon:link,
.page-four-footer-bottom-icon:visited{
color: #ffffff;


}
.page-four-footer-bottom-icons{
width: 30%;
display: flex;
justify-content: space-between;
align-items: center;

}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
height: 30px;
width: auto;
transition: all 0.4s;
}


.icon:hover{

transform: scale(1.7) rotate(20deg);


}

/* arabic */
/* <link href="https://fonts.googleapis.com/css?family=Cairo|Rakkas|Tajawal:800,400|Rakkas" rel="stylesheet"> */



@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v4/SLXGc1nY6HkvalIkTpu0xg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v4/SLXGc1nY6HkvalIvTpu0xg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v4/SLXGc1nY6HkvalIhTps.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Rakkas';
  font-style: normal;
  font-weight: 400;
  src: local('Rakkas Regular'), local('Rakkas-Regular'), url(https://fonts.gstatic.com/s/rakkas/v5/Qw3cZQlNHiblL3jPlNFOCeM.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Rakkas';
  font-style: normal;
  font-weight: 400;
  src: local('Rakkas Regular'), local('Rakkas-Regular'), url(https://fonts.gstatic.com/s/rakkas/v5/Qw3cZQlNHiblL3jPn9FOCeM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rakkas';
  font-style: normal;
  font-weight: 400;
  src: local('Rakkas Regular'), local('Rakkas-Regular'), url(https://fonts.gstatic.com/s/rakkas/v5/Qw3cZQlNHiblL3jPkdFO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: local('Tajawal'), local('Tajawal-Regular'), url(https://fonts.gstatic.com/s/tajawal/v1/Iura6YBj_oCad4k1nzSBC45I.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: local('Tajawal'), local('Tajawal-Regular'), url(https://fonts.gstatic.com/s/tajawal/v1/Iura6YBj_oCad4k1nzGBCw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 800;
  src: local('Tajawal ExtraBold'), local('Tajawal-ExtraBold'), url(https://fonts.gstatic.com/s/tajawal/v1/Iurf6YBj_oCad4k1l5anHrRpiYlJ.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 800;
  src: local('Tajawal ExtraBold'), local('Tajawal-ExtraBold'), url(https://fonts.gstatic.com/s/tajawal/v1/Iurf6YBj_oCad4k1l5anHrFpiQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*!
 * fullPage 3.0.3
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.fp-right {
    right: 17px;
}
#fp-nav.fp-left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
    bottom: 17px;
}
.fp-slidesNav.fp-top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

/*Only display content to screen readers*/
.fp-sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
@media only screen and (max-width: 300px) {
    body {
        display: none;
    }
}
