body{
padding: 0;
margin: 0;
overflow-x: hidden;
padding-bottom: 30px;
}

.logo-wrapper{
background-image: url(../assets/contact-bg.jpg);
background-position: center center;
position: relative;
/* background: ,; */
background-size: cover;
height: 70vh;
width: 100vw;

}

.color-layer{
background-color: rgba(218,31,38,0.9);
position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;

}

.color-layer img {
width: 40%;




}
.icons-cont{
display: flex;
justify-content: center;
transform: translateY(-50%);
width: 100%;
/* position: absolute; */
}

.icon{
margin: 0 30px;
background-color: #ffffff;
width: 80px;
height: 80px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
box-shadow: 0px 2px rgba(0,0,0,0.4);
transition: all 0.5s;
}
.icon:hover{
transform: scale(1.2);



}
.fab{
color: rgb(218,31,38);
transform: scale(1.4);

}

.contact-form{
width: 100%;
margin: auto;


}
.leave-message{
text-align: center;
color: #da1f26;
font-family: Cairo;
font-size: 1.4rem;

}
.contact-form-feild{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
border:0;
position: relative;
padding-top: 190px;



}
/*//////////////////////////////////////////////////////  */
.inline-input-group{
display: flex;
width: 100%;
justify-content: space-around;



}

.name-input{
color: rgb(0,0,0,0.7);
font-family: Cairo;
font-family: Changa;
font-size: 1.5rem;
display: flex;
flex-direction: column;
align-items: center;
width: 50%;

/* font-weight: 800; */
}
.email-input{
  color: rgb(0,0,0,0.7);
  font-family: Changa;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

/* font-weight: 800; */


}
.input-feild{
  outline: 0;
  border-style: none;
  text-align: right;
  font-family: Cairo;
  /* font-weight: 400; */
  margin : 0 20px;
  margin-top: 10px;
  width:70%;
  height: 30px;
  transition: all 0.5s;
  padding: 0 10px;
  background-color: #da1f26;
  opacity: 0.8;
  color: #ffffff;
}
input:focus {
outline: 0;
border-color: rgba(218,31,38,1);
border-radius: 1px;
transform: scale(1.2);

}
textarea:focus {
outline: 0;
border-color: rgba(218,31,38,1);
border-radius: 1px;
transform: scale(1.1);

}
.message-h1{
  color: rgb(0,0,0,0.7);
  margin-top:80px;
text-align: center;
font-family: Changa;



}
.message-box{
  background-color: #da1f26;
  color: #ffffff;
  border-style: none;
  width: 80%;
  height: 200px;
  transition: all 0.5s;
  padding:  10px;
  margin: 0 auto;
  text-align: right;
  display: block;
  font-family: Cairo;
  opacity: 0.8;
  resize: none;
}

.contact-hash{
width: 100%;
background-color: rgb(218,31,38);
color: #ffffff;
font-family: Rakkas;
font-size: 4rem;
display: flex;
align-items: center;
justify-content: center;
position:absolute;
top: 0;
left: 0;
height: 150px;



}


.message-submit{
  outline: 0;
  background-color: rgb(218,31,38);
display: block;
margin:20px auto;

width: 140px;
height:35px;
border: 0;
color: #ffffff;
font-family: Changa;
cursor: pointer;
transition: all 0.6s;




}

.message-submit:hover{

transform: scale(1.4);
border-radius: 5px;


}
