.page-three{
background-color: #DA1F26;



}




.pagethree-main-sub, .pagethree-main-sub-light{
color: #ffffff;
font-family: "Tajawal";
text-align: center;
}
.pagethree-main-sub{
font-weight: 800;
font-size: 2rem;
margin-top: 7%;
margin-bottom: 10px;
text-align: center;

}
.pagethree-main-sub-light{
font-weight: 400;
font-size: 1rem;
margin-top: 0;
text-align: center;
}

.pagethree-main-text-repper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
width: 100%;
height: 60vh;
padding: 0 10px;
box-sizing: border-box;

}


.pagethree-calltoation:link,
.pagethree-calltoation,
.pagethree-calltoation:visited
{
margin-top: 40px;
color: #ffffff;
text-decoration: none;
font-family: Cairo;
border: solid 2px #ffffff;
width: 60%;
height: 30px;
text-align: center;
vertical-align:middle;
transition: all .5s;
text-align: center;

}
.pagethree-calltoation:hover{
color: #000000;
background-color: #ffffff;
transform: scale(1.3);


}
