
.aside-first-ad {
width: 100%;
border: solid 1px  #DA1F26;
display: flex;
flex-direction: column;
align-items: center;
box-sizing: border-box;


}
.handmade-hr{
width: 30%;
height: 3px;
background-color: #DA1F26;

}
.aside-first-ad-title{
  font-family: Cairo;
  color: #DA1F26;
  text-align: center;
  padding: 0 15px;
}
.aside-first-ad-img{
width: 45%;

}

.aside-first-ad-button,
.aside-first-ad-button:link,
.aside-first-ad-button:visited {
  background-color: #da1f26;
text-decoration: none;
font-family: Cairo;
color: #ffffff;
border: solid 1px #da1f26;
width: 60%;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
margin: 50px 0;
transition: all 0.3s;

}
.aside-first-ad-button:hover{
background-color: #da1f26;
color: #ffffff;
transform: scale(1.2);

}

.aside-second-ad{
  background-color: #da1f26;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  box-sizing: border-box;

}

.aside-second-ad-img{
margin: 20px 0;
width: 70%;

}
.aside-second-ad-text{
text-align: center;
color: #ffffff;
font-family: Cairo;
padding: 20px;


}

.aside-third-ad{
  width: 100%;
  border: solid 1px  #DA1F26;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  box-sizing: border-box;


}

.aside-third-ad-img{
width: 40%;


}
.aside-third-ad-text{
font-family: Cairo;
text-align: center;
color: #da1f26;
margin-bottom: 50px;
padding: 0 15px;

}


.aside-third-ad-button,
.aside-third-ad-button:link,
.aside-third-ad-button:visited {
text-decoration: none;
font-family: Cairo;
color: #da1f26;
border: solid 1px #da1f26;
width: 60%;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
margin: 50px 0;
transition: all 0.3s;

}
.aside-third-ad-button:hover{
background-color: #da1f26;
color: #ffffff;
transform: scale(1.2);

}

.aside-fourth-ad{
  background-color: #da1f26;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  padding: 30px 0px;
  box-sizing: border-box;

}

.aside-fourth-ad-text{
color: #ffffff;
font-family: Cairo;
text-align: center;


}
.handmade-hr-white{
  width: 30%;
  height: 3px;
  background-color: #ffffff;

}
.handmade-hr-white-long{
  margin-top: 20px;
  width: 60%;
  height: 3px;
  background-color: #ffffff;
}
.aside-fourth-ad-img {


  width: 80%;
}


.aside-fourth-ad-button,
.aside-fourth-ad-button:link,
.aside-fourth-ad-button:visited {
text-decoration: none;
font-family: Cairo;
color: #ffffff;
border: solid 1px #ffffff;
width: 60%;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
margin: 50px 0;
transition: all 0.3s;
margin :0;

}
.aside-fourth-ad-button:hover{
background-color: #ffffff;
color: #da1f26;
transform: scale(1.2);

}


  header {

    /* padding: 0 5px; */
    background-color: #DA1F26;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-header {
  height: 80%;

  }

  nav{


  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  }

.container {
display: none;

}
.header-nav-menu-res{
  display: none;
}
.header-nav-menu{
width: 40%;
display: flex;
justify-content:space-around;
align-items: center;
height: 100%;
margin: 0 20px;
box-sizing: border-box;
}


.header-nav-menu-text,
.header-nav-menu-text:link,
.header-nav-menu-text:visited
{
align-items: center;
display: flex;
height: 100%;
color: #ffffff;
font-family: Cairo;
text-decoration: none;
padding: 5px 20px;
box-sizing: border-box;


}
.header-nav-menu-text:hover{

background-color:#ffffff;
color: #DA1F26;
}

.main-wrapper{
  margin-top: 50px;
padding: 0 20px;

}
body {
margin: 0;
padding: 0;
font-family: sans-serif;
overflow-x: hidden;
}

main {
width: 65%;
display: flex;
flex-direction: column;
align-items: flex-end;


}
aside {
width: 30%;
float: left;
}


  .header-nav-searchbar{
height: 80%;
border: 0;
display: flex;
align-items: center;
width:40%;
border-collapse: collapse;

}



.header-nav-searchbar-search{
height: 80%;
border: 0;
font-family: Cairo;
text-align: right;
width:100%;
border-collapse: inherit;
border: solid 1px #ffffff;
}

.header-nav-searchbar-submit{
border-collapse: inherit;
border: solid 1px #ffffff;
height: 80%;

background-color: #ffffff;
outline: 0;
width: 60px;
cursor: pointer;
/* display: hidden; */
transition: all 0.4s;
/* opacity:0; */
/* transform: translateX(50px); */


}

.header-nav-searchbar-submit:hover{

background-color:  #DA1F26;
color: #ffffff;


}
.header-nav-searchbar-submit-hover{
  border: solid 1px #ffffff;
  opacity: 1;
  transform: translateX(0);


}
.header-nav-searchbar-search:focus{
border: 0;
outline: 0;



}

footer {
display: flex;
flex-direction: column;
  height: 30%;
  width: 100%;
background-color:  #DA1F26;
justify-content: center;
align-items: center;

}
.page-four-main{
height: 70%;
width: 100%;


}

  .page-four-footer-upper{
  display: flex;
    width: 40%;
    height: 60%;
    justify-content: center;
  }



.page-four-footer-bottom{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  width: 100%;
  height: 40%;
}
.page-four-footer-bottom-text{
  color: #ffffff;
  font-family: Cairo;
}

.page-four-footer-upper-left{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;

}
.page-four-footer-upper-left-logo{
  height:50%;
}
.page-four-footer-upper-left-copy{
  color: #ffffff;
  font-family: monospace,sans-serif;
}


.page-four-footer-bottom-icon,
.page-four-footer-bottom-icon:link,
.page-four-footer-bottom-icon:visited{
color: #ffffff;


}
.page-four-footer-bottom-icons{
width: 30%;
display: flex;
justify-content: space-between;
align-items: center;

}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
height: 30px;
width: auto;
transition: all 0.4s;
}


.icon:hover{

transform: scale(1.7) rotate(20deg);


}

.search-item{
width: 90%;
text-decoration: none;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row-reverse;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
padding: 20px;
margin: 30px 0;
transition: all 0.4s;
}
.search-item:hover{
transform: scale(1.05);


}
.search-item-text{
display: flex;
flex-direction: column;
color: #da1f26;
font-family: Cairo;
text-align: right;
width: 55%;
}


.search-item-img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #da1f26;
  background-size: cover;

}

.search-item-sep{
height: 90px;
border-radius: 1px;
width: 2px;
margin: 0 30px;
background-color: #da1f26;

}

.search-item-title{
font-family: Cairo;
background-color: #da1f26;
color: #ffffff;
text-align: center;
padding: 5px 0;
margin: 10px;

}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v4/SLXGc1nY6HkvalIkTpu0xg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v4/SLXGc1nY6HkvalIvTpu0xg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v4/SLXGc1nY6HkvalIhTps.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Rakkas';
  font-style: normal;
  font-weight: 400;
  src: local('Rakkas Regular'), local('Rakkas-Regular'), url(https://fonts.gstatic.com/s/rakkas/v5/Qw3cZQlNHiblL3jPlNFOCeM.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Rakkas';
  font-style: normal;
  font-weight: 400;
  src: local('Rakkas Regular'), local('Rakkas-Regular'), url(https://fonts.gstatic.com/s/rakkas/v5/Qw3cZQlNHiblL3jPn9FOCeM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rakkas';
  font-style: normal;
  font-weight: 400;
  src: local('Rakkas Regular'), local('Rakkas-Regular'), url(https://fonts.gstatic.com/s/rakkas/v5/Qw3cZQlNHiblL3jPkdFO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: local('Tajawal'), local('Tajawal-Regular'), url(https://fonts.gstatic.com/s/tajawal/v1/Iura6YBj_oCad4k1nzSBC45I.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: local('Tajawal'), local('Tajawal-Regular'), url(https://fonts.gstatic.com/s/tajawal/v1/Iura6YBj_oCad4k1nzGBCw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 800;
  src: local('Tajawal ExtraBold'), local('Tajawal-ExtraBold'), url(https://fonts.gstatic.com/s/tajawal/v1/Iurf6YBj_oCad4k1l5anHrRpiYlJ.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 800;
  src: local('Tajawal ExtraBold'), local('Tajawal-ExtraBold'), url(https://fonts.gstatic.com/s/tajawal/v1/Iurf6YBj_oCad4k1l5anHrFpiQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

