.aside-second-ad{
  background-color: #da1f26;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  box-sizing: border-box;

}

.aside-second-ad-img{
margin: 20px 0;
width: 70%;

}
.aside-second-ad-text{
text-align: center;
color: #ffffff;
font-family: Cairo;
padding: 20px;


}
