footer {
display: flex;
flex-direction: column;
  height: 30%;
  width: 100%;
background-color:  #DA1F26;

}
.page-four-main{
height: 70%;
width: 100%;


}
.page-four-footer-upper{
display: flex;
  width: 100%;
  height: 60%;
}
.page-four-footer-bottom{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  width: 100%;
  height: 40%;
}
.page-four-footer-bottom-text{
  color: #ffffff;
  font-family: Cairo;
}

.page-four-footer-upper-left{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
width: 30%;

}
.page-four-footer-upper-left-logo{
  height:50%;
}
.page-four-footer-upper-left-copy{
  color: #ffffff;
  font-family: monospace,sans-serif;
}


.page-four-footer-bottom-icon,
.page-four-footer-bottom-icon:link,
.page-four-footer-bottom-icon:visited{
color: #ffffff;


}
.page-four-footer-bottom-icons{
width: 30%;
display: flex;
justify-content: space-between;
align-items: center;

}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
height: 30px;
width: auto;
transition: all 0.4s;
}


.icon:hover{

transform: scale(1.7) rotate(20deg);


}
