.main-title{
color: #da1f26;
font-family: Cairo;
width: 100%;
background-color: #ffffff;
text-align: center;
font-size: 2.1rem;
user-select: none;
}

main {
margin-top: 40px;
display: grid;
grid-template-areas: 'area1 area2 area3 area4' 'area5 area6 area6 area7';
align-items: center;
justify-content: center;
grid-row-gap: 50px;
grid-column-gap: 50px;
align-content: center;

}
.cata-item,.cata-item:link,.cata-item:visited{
width: 150px;
height: 150px;

border-radius: 45%;
background-color: #ffffff;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
transition: all 0.4s;
margin: 0 auto;
box-sizing: content-box;
box-shadow: 0 2px  5px 1px rgba(0,0,0,0.2);
overflow: hidden;
}
.cata-item:hover{
border-radius: 35%;
box-shadow: 0 2px  5px 3px rgba(0,0,0,0.2);
transform: rotate(-5deg) scale(1.1);

}
.cata-item-text {

width: 100%;

display: flex;
align-items: center;
justify-content: center;
background-color: #da1f26;
font-family: Cairo;
text-align: center;
color: #ffffff;
box-sizing: content-box;
padding: 5px 5px;

}
.general{
   grid-area: area6;
}
