.aside-third-ad{
  width: 100%;
  border: solid 1px  #DA1F26;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  box-sizing: border-box;


}

.aside-third-ad-img{
width: 40%;


}
.aside-third-ad-text{
font-family: Cairo;
text-align: center;
color: #da1f26;
margin-bottom: 50px;
padding: 0 15px;

}


.aside-third-ad-button,
.aside-third-ad-button:link,
.aside-third-ad-button:visited {
text-decoration: none;
font-family: Cairo;
color: #da1f26;
border: solid 1px #da1f26;
width: 60%;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
margin: 50px 0;
transition: all 0.3s;

}
.aside-third-ad-button:hover{
background-color: #da1f26;
color: #ffffff;
transform: scale(1.2);

}
