.main-wrapper{
  margin-top: 50px;
padding: 0 20px;

}
body {
margin: 0;
padding: 0;
font-family: sans-serif;
overflow-x: hidden;
}

main {
width: 65%;
display: flex;
flex-direction: column;
align-items: flex-end;


}
aside {
width: 30%;
float: left;
}
