.table{
width: 70%;
margin: auto;
margin-top: 2vh;
border-collapse: collapse;
/* position: relative;
top:10vh; */
}
.table-header{
border-radius: 8px 8px 0 0;
text-transform: uppercase;
color: #ffffff;
border: solid 1px #ffffff;

}
.table-row-header {
background-color: #DA1F26;
border: solid 1px #ffffff;
height: 50px;

}
.table-row {



}

.table-cell{



}
